#! /bin/bash

src=$(pwd)
cd ..
cp "$src"/$1".src" prg.c
gcc -o bytecodeassembler bytecodeassembler.c
chmod +x bytecodeassembler
./bytecodeassembler
mv prg.rbf "$src"/$1.rbf
rm prg.c

cd "$src"
cp $1.rbf "$HOME/am1808/DaVinci-PSP-SDK-03.20.00.13/filesys/home/root/lms2012/prjs/BrkProg_SAVE"/"$1".rbf

